/*======TASK16======*/

div {
  width: 150px;
  height: 150px;
  padding: 10px;
  background-color: yellow;
  text-align: center;
}
/*======TASK14======

div {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: top;
}

#wolf {
  background-color: grey;
  width: 150px;
  height: 150px;
}

#red {
  background-color: red;
  width: 75px;
  height: 75px;
  position: relative;
}

button {
  display: block;
}

*/








/*======TASK13======
body {
  background-color: green;
}

div {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: top;
}

.bunny {
  background-color: white;
  width: 75px;
  height: 75px;
  display: none;
}

button {
  display: block;
}







/*======TASK12======
body {
  background-color: green;
}

div {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: top;
}

.bunny {
  background-color: white;
  width: 75px;
  height: 75px;
}

.fox {
  background-color: orange;
  width: 100px;
  height: 100px;
}

button {
  display: block;
}






======TASK11======div {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  background-color: yellow;
  text-align: center;
}*/






/* ======TASK7======

div {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: SkyBlue;
    text-align: center;
    position: relative;
  }
*/
